:root {
--font-color-base: #666;
--font-color-dark: #212529;
--background-color-blue: #2476FF;
--background-color-green: #01C9A7;
--background-color-lightgrey: #ECF2FF;
  --size-10: 0.625rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-80: 5rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;
  }

  html {
    scroll-behavior: smooth;
  }

  a {
    text-decoration: none;
    font-weight: 600;
    color: #2476FF;
  }